langgraph>=0.2.0
langgraph-checkpoint-sqlite>=3.0.0
langchain==0.1.13
langchain-core==0.1.33
langchain-community==0.0.29
langchain-groq==0.0.1
python-dotenv==1.0.1
streamlit==1.32.2
requests==2.31.0
fastapi==0.111.0
uvicorn==0.29.0
django==5.0.6
django-cors-headers==4.3.1
